*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 30px;

    font-family: 'Courier New', Courier, monospace;
}

.main{
    height: 100vh;

    display: flex;

    align-items: center;

}

.content{ 
    width: fit-content;

    padding: 20px;
    margin: 0px auto;

    background-color: rgba(2, 77, 87, 0.87);

    border-radius: 35px 0px;

    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.664);
   
}

h1{
    font-size: 1.7rem;

    padding: 5px 20px;
    margin-bottom: 10px;

    color: white;
    background-color: rgb(2, 77, 87);

}

form{
    
    display: flex;
    flex-direction: column;

}

input{
    font-size: 0.7rem;
}

input{
    padding: 10px;
    margin-bottom: 5px;

    outline: none;
    border: 1px solid black;
}

input[type="text"]{

    padding: 15px 20px;

    font-weight: bold;

    border: none;
    border-radius: 5px;
    box-shadow: inset 1px  1px 5px rgba(0, 0, 0, 0.541);
}

input[type="submit"]{

    padding: 15px 20px;    
    
    font-size: 1em;
    font-weight: bold;
    
    color: white;
    background-image: linear-gradient(to right, rgba(3, 133, 150, 0.589),  rgb(3, 133, 150));
    border: none;
    /* border-radius: 25px 0px; */

    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.507);
}

input[type="submit"]:hover{
    cursor: pointer;

    background-image: linear-gradient(0.50turn, rgba(3, 133, 150, 0.589),  rgb(3, 133, 150));
    
    border: none;
    border-radius: 25px 0px;
    transition: all 0.5s ease-out;
}