body{
    background-color: aliceblue;
}

header{
    text-align: center;
}

section{
    background: rgb(86, 86, 243);
    border-radius: 10px;
    box-shadow: 4px 5px 7px;
    padding: 15px;
    width: 350px;
    margin: auto;
}

footer{
    text-align: center;
}

input{
    border-radius: 10px;
}